/* место для вашего кода */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1052px;
  margin: 92px 24px 91px 24px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 34.19px;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  border-bottom: 1px solid black;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo img {
  width: 148px;
  height: 105px;
  margin: 0px 180px 0px 31.81px;
}

.header__address {
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 30px;
}

.header__address-phone {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__address-email {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.cover {
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  margin: 0 9px 13px 9px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  z-index: 2;
}

.aligned-text {
  display: block;
  text-transform: uppercase;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 6px;
  text-align: left;
  margin-top: 162px;
  margin-left: 47px;
}

.aligned-text_center {
  display: block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 17px;
  margin-left: -60px;
}

.aligned-text_right {
  display: block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  text-align: right;
  margin-top: 19px;
  margin-right: 46px;
  letter-spacing: 24px;
}

.aligned-text-o1 {
  letter-spacing: 0px;
}

.aligned-text-n2 {
  letter-spacing: 29px;
}

.aligned-text-o3 {
  letter-spacing: 0px;
}

.aligned-text_center-t4 {
  letter-spacing: 5px;
}

.aligned-text_center-e5 {
  letter-spacing: 5px;
}

.aligned-text_center-b6 {
  letter-spacing: 33px;
}

.aligned-text_center-e7 {
  letter-spacing: 0px;
}

.aligned-text_right-n8 {
  letter-spacing: 11px;
}

.aligned-text_right-a9 {
  letter-spacing: -21px;
}

.aligned-text_right-d10 {
  letter-spacing: -17px;
}

.aligned-text_right-o11 {
  letter-spacing: 2px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 68px;
  margin-top: 131px;
  margin-bottom: 46px;
  z-index: 2;
}

.cover__description-text {
  display: block;
  text-transform: uppercase;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
  color: rgba(255, 255, 255, 1);
}

.bet-button {
  display: block;
  text-decoration: none;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding: 13px 29px 12px 30px;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-right: 50px;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 177px 33px 177px 33px;
}

.lots__heading {
  display: block;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  padding-left: 37px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  gap: 25px;
}

.lots__card-list-item {
  width: 328px;
  height: 554px;
  flex-grow: 1;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__title {
  display: block;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: underline;
  padding: 48px 35px 0 39px;
  z-index: 2;
}

.card__text {
  display: block;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  padding: 0 35px 48px 39px;
  z-index: 2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: inline-block;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  padding-top: 29px;
  padding-left: 39px;
}

.about {
  display: flex;
  flex-direction: row;
  margin: 0 9px 181px 9px;
  gap: 25px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column .about__logo {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  width: 237px;
  height: 237px;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 45px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  margin-top: 97px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  gap: 25px;
  padding-right: 12px;
}

.about__text-p {
  display: block;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px 58px 89px 58px;
}

.footer__address {
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer__address-phone {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.footer__address-email {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.footer__menu-list-item {
  display: inline-block;
  font-family: Raleway, Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
